<div class="mx-5">
  <h2>Thêm Task</h2>
<form #frm1="ngForm" (ngSubmit)="xuly(frm1.value)" 
class=" mbcol-6 m-auto border border-primary px-3">
<div class="mb-3">Tên Task
  <input type="text" name="ten_task" ngModel class="form-control border-primary" style="background-color:rgba(221, 239, 245, 0.922);" placeholder="Nhập tên task">
</div>
<div class="mb-3">Dự Án
  <select name="du_an_id" ngModel
  class="form-control border-primary" style="background-color:rgba(221, 239, 245, 0.922);">
    <option *ngFor="let da of listDuAn" value="{{da.id}}">{{da.ten_du_an}}</option>
  </select>
</div>
  <div class="mb-3">Nhân Viên
  <select name="nhan_vien_id" ngModel
  class="form-control border-primary" style="background-color:rgba(221, 239, 245, 0.922);">
    <option *ngFor="let nv of listNhanVien" value="{{nv.id}}">{{nv.ho}} {{nv.ten}}</option>
  </select>
  </div>
  <div class="mb-3">Status
    <input type="number" name="status" ngModel class="form-control border-primary" style="background-color:rgba(221, 239, 245, 0.922);" placeholder="Nhập status">
  </div>
  <div class="mb-3">Priority
    <input type="number" name="priority" ngModel class="form-control border-primary" style="background-color:rgba(221, 239, 245, 0.922);" placeholder="Nhập priority">
  </div>
  <div class="mb-3">Mô Tả
    <textarea name="mo_ta" ngModel rows="4"></textarea>
  </div>
  <div class="mb-3"> 
    <button name="btn" class="btn btn-primary px-4" type="submit">Update</button>
 </div>
</form>
</div>

