<div class="mx-5">
  <h2>Thêm dự án</h2>
  <form #frm1="ngForm" (ngSubmit)="xuly(frm1.value)" class=" mbcol-6 m-auto border border-primary px-3">
    <div class="mb-3" >Tên Dự Án
      <input class="form-control border-primary" style="background-color: rgba(221, 239, 245, 0.922);" type="text" name="ten_du_an"ngModel placeholder="Nhập tên dự án">
    </div>
    <div class="mb-3">Ngày Bắt Đầu
      <input class="form-control border-primary" style="background-color: rgba(221, 239, 245, 0.922);" type="date" name="ngay_start"ngModel placeholder="Nhập ngày">
    </div>
    <div class="mb-3">Tiền
        <input class="form-control border-primary" style="background-color: rgba(221, 239, 245, 0.922);" type="number" name="tien"ngModel placeholder="Nhập số tiền">
      </div>
      <div class="mb-3">Leader
        <select name="leader" ngModel class="form-control border-primary" style="background-color: rgba(221, 239, 245, 0.922);">
          <option *ngFor="let nv of listNhanVien" value="{{nv.id}}">
            {{nv.ho}} {{nv.ten}}
          </option>
        </select>
      </div>
      <div class="mb-3">Thành Viên
        <select name="thanh_vien" ngModel class="form-control border-primary" style="background-color: rgba(221, 239, 245, 0.922);" multiple size="4">
          <option *ngFor="let nv of listNhanVien" value="{{nv.id}}">
            {{nv.ho}} {{nv.ten}}
          </option>
        </select>
      </div>
    <div class="mb-3"> 
       <button name="btn" class="btn btn-primary px-4" type="submit">Thêm</button>
    </div>
    </form>
</div>
